body { font-family: sans-serif; }
.progress { width: 100%; border-spacing: 2px; margin-left: auto; margin-right: auto; } 
.progress td { vertical-align: top; }
.progress .progresstitle { width: 28%; }
.progress .progressstatus { width: 7em; }
.notstarted { background-color: #ffd4d4; }
.notstarted:hover { background-color: #ffd4d499; }
.juststarted { background-color: #ffe8d2; }
.juststarted:hover { background-color: #ffe8d299; }
.inprogress { background-color: #ffffd0; }
.inprogress:hover { background-color: #ffffd099; }
.nearlydone { background-color: #e6ffce; }
.nearlydone:hover { background-color: #e6ffce99; }
.complete { background-color: #ccffcc; }
.complete:hover { background-color: #ccffcc99; }
